<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProgQuestion</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/m1.css">
</head>
<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item {% if home %}active{% endif %}" href="/blog/main/">Home</a>
                <a class="blog-nav-item {% if question %}active{% endif %}" href="/blog/question/">Questions</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title"> The Programming Blog</h1>
            <p class="lead blog-description">The official programming blog with more than 1 million active users</p>
        </div>
        <div class="row">
            <div class="col-main blog-main col-1">
                {% block content %}{% endblock %}
            </div>
            <div class="col-main col-2 col-sm-offset-1">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>
                        Hi! My name is <em>Izmalkov Roman</em>.
                        I’m 4th year student studying Applied Mathematics in Higher School of Economics.
                        I’m Java programmer. My free time is entirely devoted to software development.
                        I’m really interested in programming and high-tech trends.
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>