{% extends "stack/html/blog/base_2.html" %}
{% block content %}
<div class="blog-post">
    <h2 class="blog-post-title">First blog post</h2>
    <p class="blog-post-meta">March 18, 2016 by <a href="#">Roma</a> </p>
    <p>This article explains the internal architecture of the Java Virtual Machine (JVM).
        The following diagram show the key internal components of a typical JVM that conforms to The Java Virtual Machine Specification Java SE 7 Edition.
    </p>
    <img src="../../../static/pic/JVM.png"/>
    <p>The components shown on this diagram are each explained below in two sections.
        First section covers the components that are created for each thread and the second section covers the components that are created independently of threads.</p>
</div>
{% endblock %}