{% extends "stack/html/blog/base_2.html" %}
{% block content %}
<div class="que-nav">
    <div class="que-nav-item"> <a>New</a> </div>
    <div class="que-nav-item"> <a>Popular</a> </div>
</div>
<div class="que">
    <div class="blog-que">
        <div style="width: 30%">
            <div class="blog-que-rating">
                <div class="blog-que-text"><b>15</b></div>
            </div>
        </div>
        <div class="blog-que-main">
            <h2>How to build a moonpark if no have money?</h2>
            <p><i>With ladies and chees of course</i></p>
            <div><a class="que-links">Read answers()</a><a class="que-links">Answer</a><a class="que-links">Like</a><a>Dislike</a></div>
        </div>
    </div>
    <div class="blog-que">
        <div style="width: 30%">
            <div class="blog-que-rating">
                <div class="blog-que-text"><b>15</b></div>
            </div>
        </div>
        <div class="blog-que-main">
            <h2>How to build a moonpark if no have money?</h2>
            <p><i>With ladies and chees of course</i></p>
            <div><a class="que-links">Read answers()</a><a class="que-links">Answer</a><a class="que-links">Like</a><a>Dislike</a></div>
        </div>
    </div>
    <div class="blog-que">
        <div style="width: 30%">
            <div class="blog-que-rating">
                <div class="blog-que-text"><b>15</b></div>
            </div>
        </div>
        <div class="blog-que-main">
            <h2>How to build a moonpark if no have money?</h2>
            <p><i>With ladies and chees of course</i></p>
            <div><a class="que-links">Read answers()</a><a class="que-links">Answer</a><a class="que-links">Like</a><a>Dislike</a></div>
        </div>
    </div>
</div>
{% endblock %}